form {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  border-radius: 5x;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}
